<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

<div class="flex items-center justify-between px-8">
  <div class="flex-1 min-w-50">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
      Hotels
    </h2>
  </div>
  
  <input class="form-control flex-1" style="margin: 0;" (keyup)="search($event)" type="text" placeholder="Search..." />


  <button *ngIf="canAddHotel" type="button" (click)="toggleModal()"
    class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    <svg class="w-5 h-5 mr-2 -ml-1" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
      <path
        d="M17 11h-.01c.55-.01 1 .44 1 .99s-.45 1-1 1h-4v4c0 .55-.45 1-1 1-.56 0-1-.45-1-1v-4h-4l-.01-.001c-.56-.01-1-.45-1-1.01s.44-1 1-1h4v-4a.99.99 0 01.99-1.01c.55-.01 1 .44 1 .99v4h4z" />
    </svg>

    Add hotel
  </button>
</div>

<div class="modal" *ngIf="modalState">
  <div class="modal-box">
    <div class="modal-box__title">
      Add Hotel
    </div>
    <label>Hotel Name</label>
    <input id="name" class="form-control" [(ngModel)]="hotelForm.name" type="text" />
    <label>City</label>
    <input id="city" class="form-control" [(ngModel)]="hotelForm.city" type="text" />
    <label>Address</label>
    <input id="address" class="form-control" [(ngModel)]="hotelForm.address" type="text" />
    <label>Kids Policy</label>
    <input id="kids" class="form-control" [(ngModel)]="hotelForm.kids" type="text" />
    <label>Stars</label>
    <input id="stars" class="form-control" [(ngModel)]="hotelForm.stars" type="number" />
    <div class="row">
      <div class="col">
        <label>Fitness</label>
        <input id="stars" class="form-check-input" [(ngModel)]="hotelForm.fitness" [ngModelOptions]="{standalone: true}"
          type="checkbox" />
        <label>Free Wifi</label>
        <input id="stars" class="form-check-input" [(ngModel)]="hotelForm.wifi" [ngModelOptions]="{standalone: true}"
          type="checkbox" />
        <label>Parking</label>
        <input id="stars" class="form-check-input" [(ngModel)]="hotelForm.parking" [ngModelOptions]="{standalone: true}"
          type="checkbox" />
      </div>
      <div class="col">
        <label>Restaurant</label>
        <input id="stars" class="form-check-input" [(ngModel)]="hotelForm.restaurant"
          [ngModelOptions]="{standalone: true}" type="checkbox" />
        <label>Pool</label>
        <input id="stars" class="form-check-input" [(ngModel)]="hotelForm.pool" [ngModelOptions]="{standalone: true}"
          type="checkbox" />
        <label>Sauna</label>
        <input id="stars" class="form-check-input" [(ngModel)]="hotelForm.sauna" [ngModelOptions]="{standalone: true}"
          type="checkbox" />
      </div>
    </div>
    <label for="imgUpload" class="btn btn-primary" style="align-self: flex-start;">
      {{ uploading ? 'Uploading...' : 'Upload Images' }}
      <input id="imgUpload" style="display: none;" type="file" class="text-nowrap text-truncate"
        (change)="selectFile($event)" multiple />
    </label>
    <div class="row">
      <div class="col-2" *ngFor="let img of hotelForm.images; let i = index">
        <div class="image-preview"
          [ngStyle]="{'background': 'url('+img.url+')', 'background-size': 'cover', 'background-position': 'center'}">
          <div class="image-remove" (click)="deleteImage(i)">
            x
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="addRoom()">Add Room</button>
    <ng-container *ngFor="let room of hotelForm.rooms; let i = index">
      <div class="hotel-room" *ngIf="i == selectedRoomIndex">
        <div class="hotel-room-remove" (click)="removeRoom(i)">
          x
        </div>
        <div class="row">
          <div class="col">
            <input id="name" class="form-control" [(ngModel)]="room.name" type="text" placeholder="Room Name" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input id="people" class="form-control" [(ngModel)]="room.people" type="number" placeholder="Room Places" />
          </div>
          <div class="col">
            <input id="price" class="form-control" [(ngModel)]="room.price" type="number" placeholder="Room Price" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Wifi</label>
            <input id="stars" class="form-check-input" [(ngModel)]="room.wifi" [ngModelOptions]="{standalone: true}"
              type="checkbox" />
            <label>Breakfast</label>
            <input id="stars" class="form-check-input" [(ngModel)]="room.breakfast"
              [ngModelOptions]="{standalone: true}" type="checkbox" />
            <label>Mini Bar</label>
            <input id="stars" class="form-check-input" [(ngModel)]="room.mini_bar" [ngModelOptions]="{standalone: true}"
              type="checkbox" />
            <label>TV</label>
            <input id="stars" class="form-check-input" [(ngModel)]="room.tv" [ngModelOptions]="{standalone: true}"
              type="checkbox" />
          </div>
          <div class="col">
            <label>Conditioner</label>
            <input id="stars" class="form-check-input" [(ngModel)]="room.conditioner"
              [ngModelOptions]="{standalone: true}" type="checkbox" />
            <label>City View</label>
            <input id="stars" class="form-check-input" [(ngModel)]="room.city_view"
              [ngModelOptions]="{standalone: true}" type="checkbox" />
            <label>Heating</label>
            <input id="stars" class="form-check-input" [(ngModel)]="room.heating" [ngModelOptions]="{standalone: true}"
              type="checkbox" />
            <label>Fridge</label>
            <input id="stars" class="form-check-input" [(ngModel)]="room.fridge" [ngModelOptions]="{standalone: true}"
              type="checkbox" />
          </div>
        </div>
      </div>
      <div class="hotel-room__collapsed" *ngIf="i != selectedRoomIndex" (click)="selectRoom(i);">
        {{room.name ? room.name : 'Untitled Room ' + (i+1) }}
      </div>
    </ng-container>
    <button type="button" class="btn btn-primary" (click)="saveHotel()">Save</button>
  </div>
  <div class="modal-background" (click)="toggleModal()">

  </div>
</div>

<div class="flex flex-col px-8 mt-8">
  <div class="-mx-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                Name
              </th>

              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                Stars
              </th>

              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                Status
              </th>

              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                Created
              </th>

              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>

          <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let hotel of hotels">
              <td class="px-6 py-4 cursor-pointer whitespace-nowrap" [routerLink]="[hotel.key]">
                <div class="flex items-center">
                  <div class="flex-shrink-0 w-10 h-10">
                    <img class="w-10 h-10 rounded-full"
                      src="{{hotel?.data?.images?.length > 0 ? hotel?.data?.images[0].url : '' }}" alt="" />
                  </div>

                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                      {{hotel.data.name}}
                    </div>

                    <div class="text-sm text-gray-500">
                      {{hotel.data.city + ' ' + hotel.data.address}}
                    </div>
                  </div>
                </div>
              </td>

              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{hotel.data.stars + ' Stars'}}</div>
                <div class="text-sm text-gray-500">Rating</div>
              </td>

              <td class="px-6 py-4 whitespace-nowrap">
                <span *ngIf="hotel.data.verified; else elseVerified"
                  class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                  Verified
                </span>

                <ng-template #elseVerified>
                  <span class="inline-flex px-2 text-xs font-semibold leading-5 text-red-800 bg-red-100 rounded-full">
                    Unverified
                  </span>
                </ng-template>
              </td>

              <td class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap">
                {{hotel.data.created_at.split('T')[0]}}
              </td>

              <td class="px-6 py-4 space-x-4 text-sm font-medium text-right whitespace-nowrap" *ngIf="userRole != 'GUEST'">
                <a *ngIf="canVerifyHotel && !hotel.data.verified" class="text-green-600 cursor-pointer hover:text-green-900" (click)="verifyHotel(hotel); $event.stopPropagation()">Verify</a>
                <a *ngIf="canEditHotel" class="text-indigo-600 cursor-pointer hover:text-indigo-900" (click)="toggleModal(hotel); $event.stopPropagation()">Edit</a>
                <a *ngIf="!canEditHotel" class="text-indigo-600 cursor-pointer hover:text-indigo-900" [routerLink]="[hotel.key]">View</a>
                <a *ngIf="canRemoveHotel" class="text-red-600 cursor-pointer hover:text-red-900" (click)="deleteHotel(hotel); $event.stopPropagation()">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
