<ng-container *ngIf="userName">
  <div class="lg:flex lg:flex-shrink-0">
    <div class="flex flex-col pt-5 pb-4 bg-gray-100 border-r border-gray-200 w-72">
      <div class="flex items-center flex-shrink-0 px-6">
        <img class="w-full" src="assets/images/logo.png" alt="Travel More">
      </div>
      <div class="flex flex-col flex-1 h-0 overflow-y-auto">
        <div class="relative inline-block px-3 mt-6 text-left">
          <div>
            <button (click)="optionsOpen = !optionsOpen" type="button"
              class="group w-full rounded-md px-3.5 py-2 text-sm leading-5 font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-500 focus:outline-none focus:bg-gray-200 focus:border-blue-300 active:bg-gray-50 active:text-gray-800 transition ease-in-out duration-150"
              id="options-menu" aria-haspopup="true" aria-expanded="true">
              <div class="flex items-center justify-between w-full">
                <div class="flex items-center justify-between space-x-3">
                  <img class="flex-shrink-0 w-10 h-10 bg-gray-300 rounded-full"
                    [src]="'https://robohash.org/' + userName" alt="">

                  <div class="flex-1 text-left">
                    <h2 class="text-sm font-medium leading-5 text-gray-900 whitespace-nowrap">{{ userName }}</h2>
                    <p class="text-xs leading-5 text-gray-500 truncate">{{ userRole }}</p>
                  </div>
                </div>

                <svg class="w-5 h-5 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                    clip-rule="evenodd" />
                </svg>
              </div>
            </button>
          </div>

          <div *ngIf="optionsOpen" class="absolute left-0 right-0 z-10 mx-3 mt-1 origin-top rounded-md shadow-lg">
            <div class="bg-white rounded-md shadow-xs" role="menu" aria-orientation="vertical"
              aria-labelledby="options-menu">
              <div class="py-1">
                <button (click)="logout()"
                  class="block w-full px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                  role="menuitem">Logout</button>
              </div>
            </div>
          </div>
        </div>

        <nav class="px-3 mt-6">
          <div class="space-y-1">
            <a *ngIf="userRole != 'Visitor'" routerLink="dashboard"
              class="flex items-center px-2 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out rounded-md group hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:bg-gray-50">
              <svg
                class="w-6 h-6 mr-3 text-gray-400 transition duration-150 ease-in-out group-hover:text-gray-500 group-focus:text-gray-600"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg>

              Dashboard
            </a>

            <a routerLink="hotels"
              class="flex items-center px-2 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out rounded-md group hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:bg-gray-50">
              <svg
                class="w-6 h-6 mr-3 text-gray-400 transition duration-150 ease-in-out group-hover:text-gray-500 group-focus:text-gray-600"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 6h16M4 10h16M4 14h16M4 18h16" />
              </svg>

              Hotels
            </a>

            <a *ngIf="userRole == 'Visitor'" routerLink="bookings"
              class="flex items-center px-2 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out rounded-md group hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:bg-gray-50">
              <i class="material-icons mr-3 text-gray-400 transition duration-150 ease-in-out group-hover:text-gray-500 group-focus:text-gray-600">local_hotel</i>

              Bookings
            </a>

            <a routerLink="promotions" class="flex items-center px-2 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out rounded-md group hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:bg-gray-50">
              <svg class="w-6 h-6 mr-3 text-gray-400 transition duration-150 ease-in-out group-hover:text-gray-500 group-focus:text-gray-600" fill="currentColor" viewBox="0 0 24 24">
                <path d="M2.59 13.41l-.01-.01c-.38-.38-.59-.88-.59-1.41v-5a4.99 4.99 0 014.99-5.01h4.99c.53 0 1.04.2 1.42.59l8 8a2 2 0 01-.01 2.82l-8 8v-.01c-.79.77-2.04.77-2.82 0l-8-8zM20 12l-8-8H6.99c-1.66 0-3 1.34-3 3v5l8 8 8-8zM7 8l-.01-.001c-.56-.01-1-.45-1-1.01s.44-1 1-1c.55 0 1 .44.99 1a1 1 0 01-1 .99z"/>
              </svg>

              Promotions
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</ng-container>
