<div class="container max-w-6xl mx-auto my-6">
  <div class="grid grid-cols-2 gap-8">
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
      <div class="px-4 py-3 sm:px-6">
        <h3 class="text-lg font-medium leading-6 text-gray-900">
          Rooms prices
        </h3>
        <p class="max-w-2xl mt-1 text-sm text-gray-500">
          Groups of price ranges of rooms.
        </p>
      </div>

      <div class="p-4 border-t border-gray-200">
        <app-price-range-chart></app-price-range-chart>
      </div>
    </div>

    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
      <div class="px-4 py-3 sm:px-6">
        <h3 class="text-lg font-medium leading-6 text-gray-900">
          Cities of hotels
        </h3>
        <p class="max-w-2xl mt-1 text-sm text-gray-500">
          Number of hotels per city.
        </p>
      </div>

      <div class="p-4 border-t border-gray-200">
        <app-popular-hotels-chart></app-popular-hotels-chart>
      </div>
    </div>
  </div>

  <div class="w-full mt-8 overflow-hidden bg-white shadow sm:rounded-lg">
    <div class="px-4 py-3 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">
        Hotel stars
      </h3>
      <p class="max-w-2xl mt-1 text-sm text-gray-500">
        Bar chart for hotel stars.
      </p>
    </div>

    <div class="p-4 border-t border-gray-200">
      <app-reservations-chart></app-reservations-chart>
    </div>
  </div>
</div>
