<div class="slideshow"
  [ngStyle]="{'background': 'url('+( photos?.length ? photos[currentPhotoIndex]?.url : '' )+') no-repeat center / contain black', 'background-color': photos?.length ? 'black' : 'whote'}">
  <span *ngIf="!photos?.length">
    No Pictures Available
  </span>
  <div class="slideshow-arrow slideshow-arrow-left" (click)="selectImage(currentPhotoIndex-1)">
    <i class="material-icons">chevron_left</i>
  </div>
  <div class="slideshow-arrow slideshow-arrow-right" (click)="selectImage(currentPhotoIndex+1)">
    <i class="material-icons">chevron_right</i>
  </div>
</div>
